
/*Elements: */
body {
    background-color: #647e94;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin-top: -3%;
}

nav > a {
    color: white;
    text-align: center;
    float: left;
    padding: 0 10px 0 10px;
    border-right: #FFFFFF solid 2px;
    text-decoration: none;
    /*TODO: Give this a wider font to faithfully recreate mockup sheet*/
}

/*Classes: */
.main-content {
    width: 1000px;
    background-color: #ccdad6;
    height: 300vh;
    margin: 0 auto 100px auto;
}

.bg-header {
    z-index: -1; /*Render under main-content*/
    width: 100vw;
    height: 48px;
    background-color: #1b1816;
    position: absolute;
    padding: 0;
    margin: 0;
}

.fg-header {
    z-index: 2; /*Render on top of main-content*/
    width: 1000px;
    height: 48px;
    position: fixed;
    padding: 0;
    margin: 0;
    background-color: #302b27;
    display: flex;
    align-items: center;
}

/*Elements with this class should have a 12% gap on each side of the main content*/
.indent-one {
    margin: 0 auto;
    width: 76%;
}
/*5% smaller than indent-one class*/
.indent-two {
    margin: 0 auto;
    width: 90%;
}

.project-tab {
    margin: -25px auto 5px;
    width: 100%;
    height: 32px;
    background-color: #F1F1F1;
    border-style: solid;
    border-color: #F1F1F1;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.project-tab-text {
    padding-left: 10px;
}

.project-tab-carrot {
    padding-left: 15px;
}
/*Common characteristics for project tab text (carrot, header text)*/
.project-tab > p {
    color: black;
    margin: auto;
    display: inline-block;
    vertical-align: sub
}

.accord-container {
    padding-top: 25px;
    transition: height 250ms, opacity 250ms;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.accord-hide {
    height: 0;
    opacity: 0;
}
.accord-show {
    height: 150px;
    opacity: 100%;
}


/*IDs:*/
#first-header-offset {
    padding-top: 80px;
    margin: auto 0 3% 0;
}

#headshot {
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

#debug {
    background-color: red;
    width: 100vw;
    height: 3px;
}