
/*Elements: */
body {
    background-color: #407163;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin-top: -3%;
    font-family: 'Roboto Mono', monospace;
}

nav > a {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    float: left;
    padding: 15px 10px;
    border-right: #FFFFFF solid 2px;
    text-decoration: none;
    /*TODO: Give this a wider font to faithfully recreate mockup sheet*/
}

nav > a:hover {
    animation: hover-header 250ms;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

/*Classes: */
.main-content {
    width: 1000px;
    background-color: #D2D9E4;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 20px 4px black;
}

.bg-header {
    z-index: -1; /*Render under main-content*/
    width: 100vw;
    height: 48px;
    background-color: #1b1816;
    position: absolute;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 20px 4px black;
}

.bg-footer {
    z-index: -1; /*Render under main-content*/
    width: 100%;
    height: 96px;
    background-color: #1b1816;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 4px black;

}

.fg-header {
    z-index: 2; /*Render on top of main-content*/
    width: 1000px;
    height: 48px;
    position: fixed;
    padding: 0;
    margin: 0;
    background-color: #302b27;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 4px black;

}

.fg-footer {
    z-index: 2; /*Render on top of main-content*/
    width: 1000px;
    height: 96px;
    padding: 0;
    margin: 0;
    background-color: #302b27;
}


/*Elements with this class should have a 12% gap on each side of the main content*/
.indent-one {
    margin: 0 auto;
    width: 76%;
}
/*5% smaller than indent-one class*/
.indent-two {
    margin: 0 auto;
    width: 90%;
}

.project-tab {
    margin: -25px auto 5px;
    width: 100%;
    height: 32px;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #E5E5E5;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.project-tab:hover {
    animation: hover-project-tab 250ms;
    animation-fill-mode: forwards;
    box-shadow: 0 0 6px black;
}

.project-tab-text {
    padding-left: 10px;
}

.project-tab-carrot {
    padding-left: 15px;
}
/*Common characteristics for project tab text (carrot, header text)*/
.project-tab > p {
    color: black;
    margin: auto;
    display: inline-block;
    vertical-align: sub;
}

.accord-container {
    padding-top: 25px;
    transition: height 250ms, opacity 250ms;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.accord-hide {
    height: 0;
    opacity: 0;
}
.accord-show {
    height: 400px;
    opacity: 100%;
}

.image-carousel {
    display: flex;
    justify-content: center;
    position: relative;
}


/*IDs:*/
#first-header-offset {
    padding-top: 80px;
    margin: auto 0 3% 0;
}

#headshot {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    box-shadow: 6px 6px 10px 2px black;
}

#debug {
    background-color: red;
    width: 100vw;
    height: 3px;
}

/*Animations: */
@keyframes hover-header {
    0% {
        background-color: #302b27;
    }

    100% {
        background-color: #93908D;
    }
}

@keyframes hover-project-tab {
    0% {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
    }
    100% {
        background-color: #EEEEEE;
        border-color: #EEEEEE;
    }
}